<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<div class="input-group">
  <%= form_tag(users_path, :method => 'get' ) do %>
  <%= text_field_tag :search, '', placeholder: "検索" %>
  <!--<span class="input-group-btn">-->
  <!--  <%= submit_tag 'Search', :name => nil, class: "btn btn-default" %>-->
  <!--</span>-->
<% end %>

</div>


<ul class="users">
  <%= render @users %>

</ul>

<%= will_paginate %>